<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MovieWeb</title>
    <link rel="stylesheet" href="\css\index.css" />
    <script>
      // Espera a que la página se cargue
      window.addEventListener("DOMContentLoaded", (event) => {
        const navbar = document.querySelector(".navbar");

        // Escucha el evento de scroll en la ventana
        window.addEventListener("scroll", () => {
          // Si el scroll vertical es mayor a 50 píxeles...
          if (window.scrollY > 500) {
            // ...añade la clase 'visible' a la navbar para mostrarla
            navbar.classList.add("visible");
          } else {
            // ...si no, quita la clase para ocultarla
            navbar.classList.remove("visible");
          }
        });
      });
    </script>
  </head>
  <body>
    <%- include('common/navbar.ejs', { toSearch: null }) -%>

    <header class="hero">
      <div class="hero-content">
        <h1>ScreenHub</h1>
        <form action="/buscar" method="GET">
          <input
            type="text"
            name="q"
            placeholder="Encuentra tu próxima película favorita..."
          />
          <button type="submit">Buscar</button>
        </form>
      </div>
    </header>

    <main class="content-placeholder">
      <h2>Películas Populares</h2>
      <div class="results-popularity">
      <% movies.forEach((movie, index) => { %>
      <a href="/pelicula/<%= movie.movie_id %>" class="result-card">
        <img class="card-img" src="<%= movie.poster_url %>" alt="<%= movie.title %>" />
        <div class="card-info">
          <h3 class="card-title"><%= movie.title %></h3>
          <span class="card-popularity">#<%= index + 1%></span>
        </div>
      </a>
      <% }); %>
    </div>
    </main>
  </body>
</html>
