<!DOCTYPE html>
<html>
<head>
    <title>Resultado de la Búsqueda</title>
    <link rel="stylesheet" href="\css\styles.css">
</head>
<body>
<h1>Resultado de la Búsqueda</h1>
<% if (movies.length === 0) { %>
    <p>No hay peliculas resultados.</p>
<% } else { %>
    <ul>
        <% movies.forEach((movie) => { %>
            <li><a href="/pelicula/<%= movie.movie_id %>"><%= movie.title %></a></li>
        <% }); %>
    </ul>
<% } %>
<% if (tags.length === 0) { %>
    <p>No hay peliculas con ese tag resultados.</p>
<% } else { %>
    <ul>
        <% tags.forEach((movie) => { %>
            <li><a href="/pelicula/<%= movie.movie_id %>"><%= movie.title %></a></li>
        <% }); %>
    </ul>
<% } %>
<% if (persons.length === 0) { %>
    <p>No hay personas resultados.</p>
<% } else { %>
    <ul>
        <% persons.forEach((person) => { %>
            <li><a href="/person/<%= person.person_id %>"><%= person.person_name %></a></li>
        <% }); %>
    </ul>
<% } %>
<% if (countries.length === 0) { %>
    <p>No hay paises resultados.</p>
<% } else { %>
    <ul>
        <% countries.forEach((country) => { %>
            <li><a href="/country/<%= country.country_id %>"><%= country.country_name %></a></li>
        <% }); %>
    </ul>
<% } %>
<p></p>
<div id="inicio"><a href="/">Inicio</a></div>
</body>
</html>
